﻿* {
    padding:0;
    margin:0;
}

body {
    padding-top: 76px;
    font-family: Arial, Helvetica, sans-serif;
}

/*.whiteBoxContent {
    background: white;
    border-radius: 3px;
    box-shadow: 0px 5px 8px #212121;
    -webkit-box-shadow: 0px 5px 8px #212121;
    -moz-box-shadow: 0px 5px 8px #212121;
}*/÷

.menu {
    position:fixed;
    left:10px;
    top:10px;
    width:180px;
}

/*.adspace {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 180px;
}*/÷

.content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 200px;
}

.reviewContent {
    padding: 15px;
}

.reviewSingleLink {
    padding:5px 0px;
}

.rating-group {
    display: inline-flex;
}

.RatingLabel {
    display: inline-flex;
    width: 90px;
}
/* make hover effect work properly in IE */
.rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

/* set icon padding and size */
.rating__label {
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.1em;
    font-size: 1.5em;
}

/* add padding and positioning to half star labels */
.rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
}

/* set default star color */
.rating__icon--star {
    color: orange;
}

/* set color of none icon when unchecked */
.rating__icon--none {
    color: #eee;
}

/* if none icon is checked, make it red */
.rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}

.movieImageContainer {
    min-height: 300px;
}

.movieImage {
    object-fit: cover;
    height: 300px;
}

.movieSingleCategories {
    color: #abaaaa;
    margin: 0px 0px 20px 0px;
}