﻿@using MovieReviews.ViewModels
@model ReviewPostEditorViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/Reviews">Reviews</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New Review</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Add New Review</h1>
        </div>
    </div>

    @using (Html.BeginForm("SaveNewReview", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row" style="margin-top:20px;">
            <div class="col">
                <div class="form-group">
                    <label>Moview Review Title</label>
                    @Html.TextBox("review_title", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Movie Director</label>
                    @Html.TextBox("movie_director", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Movie Date Created</label>
                    @Html.TextBox("movie_released", null, new { @type = "date", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Movie Artwork</label>
                    <input type='file' name="movie_image" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="RatingLabel">
                    Acting
                </div>
                <div class="rating-group">
                    @Html.RadioButton("acting", 0, new { @class = "rating__input" })
                    <label aria-label="1 star" class="rating__label" for="acting-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 1, new { @class = "rating__input", @id = "acting-1" })
                    <label aria-label="2 stars" class="rating__label" for="acting-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 2, new { @class = "rating__input", @id = "acting-2" })
                    <label aria-label="3 stars" class="rating__label" for="acting-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 3, new { @class = "rating__input", @id = "acting-3" })
                    <label aria-label="4 stars" class="rating__label" for="acting-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 4, new { @class = "rating__input", @id = "acting-4" })
                    <label aria-label="5 stars" class="rating__label" for="acting-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 5, new { @class = "rating__input", @id = "acting-5" })
                    <label aria-label="6 stars" class="rating__label" for="acting-6"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 6, new { @class = "rating__input", @id = "acting-6" })
                    <label aria-label="7 stars" class="rating__label" for="acting-7"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 7, new { @class = "rating__input", @id = "acting-7" })
                    <label aria-label="8 stars" class="rating__label" for="acting-8"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 8, new { @class = "rating__input", @id = "acting-8" })
                    <label aria-label="9 stars" class="rating__label" for="acting-9"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 9, new { @class = "rating__input", @id = "acting-9" })
                    <label aria-label="10 stars" class="rating__label" for="acting-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("acting", 10, new { @class = "rating__input", @id = "acting-10" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="RatingLabel">
                    Writing
                </div>

                <div class="rating-group">
                    @Html.RadioButton("writing", 0, new { @class = "rating__input" })
                    <label aria-label="1 star" class="rating__label" for="writing-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 1, new { @class = "rating__input", @id = "writing-1" })
                    <label aria-label="2 stars" class="rating__label" for="writing-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 2, new { @class = "rating__input", @id = "writing-2" })
                    <label aria-label="3 stars" class="rating__label" for="writing-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 3, new { @class = "rating__input", @id = "writing-3" })
                    <label aria-label="4 stars" class="rating__label" for="writing-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 4, new { @class = "rating__input", @id = "writing-4" })
                    <label aria-label="5 stars" class="rating__label" for="writing-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 5, new { @class = "rating__input", @id = "writing-5" })
                    <label aria-label="6 stars" class="rating__label" for="writing-6"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 6, new { @class = "rating__input", @id = "writing-6" })
                    <label aria-label="7 stars" class="rating__label" for="writing-7"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 7, new { @class = "rating__input", @id = "writing-7" })
                    <label aria-label="8 stars" class="rating__label" for="writing-8"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 8, new { @class = "rating__input", @id = "writing-8" })
                    <label aria-label="9 stars" class="rating__label" for="writing-9"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 9, new { @class = "rating__input", @id = "writing-9" })
                    <label aria-label="10 stars" class="rating__label" for="writing-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("writing", 10, new { @class = "rating__input", @id = "writing-10" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="RatingLabel">
                    Cast
                </div>

                <div class="rating-group">
                    @Html.RadioButton("cast", 0, new { @class = "rating__input" })
                    <label aria-label="1 star" class="rating__label" for="cast-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 1, new { @class = "rating__input", @id = "cast-1" })
                    <label aria-label="2 stars" class="rating__label" for="cast-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 2, new { @class = "rating__input", @id = "cast-2" })
                    <label aria-label="3 stars" class="rating__label" for="cast-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 3, new { @class = "rating__input", @id = "cast-3" })
                    <label aria-label="4 stars" class="rating__label" for="cast-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 4, new { @class = "rating__input", @id = "cast-4" })
                    <label aria-label="5 stars" class="rating__label" for="cast-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 5, new { @class = "rating__input", @id = "cast-5" })
                    <label aria-label="6 stars" class="rating__label" for="cast-6"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 6, new { @class = "rating__input", @id = "cast-6" })
                    <label aria-label="7 stars" class="rating__label" for="cast-7"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 7, new { @class = "rating__input", @id = "cast-7" })
                    <label aria-label="8 stars" class="rating__label" for="cast-8"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 8, new { @class = "rating__input", @id = "cast-8" })
                    <label aria-label="9 stars" class="rating__label" for="cast-9"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 9, new { @class = "rating__input", @id = "cast-9" })
                    <label aria-label="10 stars" class="rating__label" for="cast-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("cast", 10, new { @class = "rating__input", @id = "cast-10" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="RatingLabel">
                    Creativity
                </div>

                <div class="rating-group">
                    @Html.RadioButton("creativity", 0, new { @class = "rating__input" })
                    <label aria-label="1 star" class="rating__label" for="creativity-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 1, new { @class = "rating__input", @id = "creativity-1" })
                    <label aria-label="2 stars" class="rating__label" for="creativity-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 2, new { @class = "rating__input", @id = "creativity-2" })
                    <label aria-label="3 stars" class="rating__label" for="creativity-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 3, new { @class = "rating__input", @id = "creativity-3" })
                    <label aria-label="4 stars" class="rating__label" for="creativity-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 4, new { @class = "rating__input", @id = "creativity-4" })
                    <label aria-label="5 stars" class="rating__label" for="creativity-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 5, new { @class = "rating__input", @id = "creativity-5" })
                    <label aria-label="6 stars" class="rating__label" for="creativity-6"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 6, new { @class = "rating__input", @id = "creativity-6" })
                    <label aria-label="7 stars" class="rating__label" for="creativity-7"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 7, new { @class = "rating__input", @id = "creativity-7" })
                    <label aria-label="8 stars" class="rating__label" for="creativity-8"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 8, new { @class = "rating__input", @id = "creativity-8" })
                    <label aria-label="9 stars" class="rating__label" for="creativity-9"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 9, new { @class = "rating__input", @id = "creativity-9" })
                    <label aria-label="10 stars" class="rating__label" for="creativity-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    @Html.RadioButton("creativity", 10, new { @class = "rating__input", @id = "creativity-10" })
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:20px;">
            <div class="col">
                <h4>Categories</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                @foreach (CategoryViewModel item in Model.CategoryList)
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="category_id" value="@item.category_id" />
                        @*@Html.CheckBox("review_id", new { @class = "form-check-input", value = item.category_id })*@
                        <label class="form-check-label" for="@item.category_id">
                            @item.category_name
                        </label>
                    </div>
                }
            </div>

        </div>
        <div class="row" style="margin-top:15px">
            <div class="col">
                @Html.TextArea("body", new { id = "editor" })
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    }

</div>

<script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

