﻿@using MovieReviews.ViewModels
@model CategoryViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/Settings">Settings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Category</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Edit Category</h1>
        </div>
    </div>
    @using (Html.BeginForm("UpdateCategory", "admin", FormMethod.Post))
    {
        @Html.Hidden("category_id")
        <div class="row">
            <div class="col">
                @Html.TextBox("category_name", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Save" />
                <a href='@Url.Action("RemoveCategory", "Admin", new { id = Model.category_id})'>
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>

    }



</div>