﻿<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-4">
            @using (Html.BeginForm("AuthorizeUser", "admin", FormMethod.Post))
            {
            <div class="row">
                <div class="col">
                    <h1>Login</h1>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        @Html.TextBox("email", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        @Html.Password("password", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </div>
            </div>


            }
        </div>
    </div>
</div>