﻿@using MovieReviews.ViewModels
@model ReviewsListViewModel

<div class="container">
    <div class="row" style="margin-bottom:25px;">
        <div class="col">
            <a href="/admin/add-review">
                <button type="button" class="btn btn-success">Add Review</button>
            </a>
        </div>
    </div>
    @foreach (ReviewsViewModel item in Model.reviews)
    {
        <div class="row" style="border-bottom:1px solid #cecece; padding:3px 0px;">
            <div class="col">
                <a href="/admin/edit-review/@item.review_id">
                    @item.review_title
                </a>
            </div>
            <div>
                <a href='@Url.Action("RemoveReview", "Admin", new { id = item.review_id})'>
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
    }
</div>



