﻿@using MovieReviews.ViewModels
@model ReviewPostEditorViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/Reviews">Reviews</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New Review</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Add New Review</h1>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Review Public
                </label>
            </div>
        </div>
    </div>
    -->

    @using (Html.BeginForm("SaveNewReview", "admin", FormMethod.Post))
    {


        <div class="row" style="margin-top:20px;">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Review Title</label>
                    @Html.TextBox("review_title", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col">
                <h4>Categories</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                @foreach (CategoryViewModel item in Model.CategoryList)
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="category_id" value="@item.category_id" />
                        <label class="form-check-label" for="@item.category_id">
                            @item.category_name
                        </label>
                    </div>
                }
            </div>

        </div>
        <div class="row" style="margin-top:15px">
            <div class="col">
                @Html.TextArea("body", new { id = "editor" })
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    }

</div>

<script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
<script>ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );</script>

