﻿@using MovieReviews.ViewModels
@model CategoryListViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Settings: Categories List</h1>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <ul class="list-group" style="width:100%">
                @foreach (CategoryViewModel item in Model.CategoryList)
                {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @item.category_name
                    <a href="/admin/EditCategory/@item.category_id">
                        <span class="badge badge-primary badge-pill">
                            <i class="fas fa-pen"></i>
                        </span>
                    </a>

                </li>
                }
            </ul>
        </div>
    </div>


    <div class="row" style="margin-top:20px;">
        <div class="col">
            @using (Html.BeginForm("AddCategory", "admin", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="exampleInputPassword1">@Html.Label("New Category")</label>
                    @Html.TextBox("category_name", null, new { @class = "form-control" })
                </div>
                <input type="submit" class="btn btn-secondary" value="Save" />
            }
        </div>
    </div>

</div>