﻿<div class="container">
    <div class="row">
        <div class="col">
            <h1>About Me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Hi there!<br /><br />

            Im a just a normal person who has a lot of time on his hands, and is also a movie fanatic. <br / > 
            So I decided to fill my time and give my opinion/reviews
            that I see and/or sparks my interest to rant about.<br /><br />

            Thanks for stopping by and enjoy!
        </div>
    </div>
</div>





