﻿@using MovieReviews.ViewModels
@model ReviewsListViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
        @foreach (ReviewsViewModel item in Model.reviews)
        {
            <div class="card mb-4">
                <div class="movieImageContainer">
                    @*<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">*@
                    <img class="card-img-top movieImage" alt="A movie review about @item.review_title by Adam Schmidt" title="@item.review_title movie review" src="/images/@item.seo_url/@item.movie_image" alt="Card image cap" />   
                </div>

                <div class="card-body">
                    <h2 class="card-title">@item.review_title</h2>
                    @*<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>*@
                    <a href="/@item.seo_url" class="btn btn-primary">Read More</a>
                </div>
                <div class="card-footer text-muted">
                    @foreach (CategoryViewModel categoryItem in item.categories)
                    {
                        <a href="/category/@categoryItem.category_seo_url">
                            @categoryItem.category_name
                        </a>
                    }

                </div>
            </div>
            
            <script type=\"application/ld+json\">
                @Html.Raw(@item.schema)
            </script>
        }

        @if (Model.reviews.Count == 0)
        {
            <div>There are no reviews posted</div>
        }
        </div>
        <div class="col-md-4">
            <div class="card my-4" style="margin-top: 0px !important;">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ul class="list-unstyled mb-0">
                                @foreach (CategoryViewModel item in ViewBag.Categories)
                                {
                                    <a href="/category/@item.category_seo_url">@item.category_name</a>
                                }
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




