﻿@using MovieReviews.ViewModels
@model ReviewsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Viewing Review</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <h1>@Model.review_title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="movieSingleCategories">
                        @Model.categories_string
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                     <img class="card-img-top movieImage" alt="A movie review about @Model.review_title by Adam Schmidt" title="@Model.review_title movie review" src="/images/@Model.seo_url/@Model.movie_image" alt="Card image cap" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card" style="margin-bottom:20px;">
                        <div class="card-body">
                            <div>
                                <div class="RatingLabel">
                                    Acting
                                </div>
                                <div class="rating-group">
                                    @Html.RadioButton("acting", 0, new { @class = "rating__input", @disabled = "disabled" })
                                    <label aria-label="1 star" class="rating__label" for="acting-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 1, new { @class = "rating__input", @id = "acting-1", @disabled = "disabled" })
                                    <label aria-label="2 stars" class="rating__label" for="acting-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 2, new { @class = "rating__input", @id = "acting-2", @disabled = "disabled" })
                                    <label aria-label="3 stars" class="rating__label" for="acting-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 3, new { @class = "rating__input", @id = "acting-3", @disabled = "disabled" })
                                    <label aria-label="4 stars" class="rating__label" for="acting-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 4, new { @class = "rating__input", @id = "acting-4", @disabled = "disabled" })
                                    <label aria-label="5 stars" class="rating__label" for="acting-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 5, new { @class = "rating__input", @id = "acting-5", @disabled = "disabled" })
                                    <label aria-label="6 stars" class="rating__label" for="acting-6"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 6, new { @class = "rating__input", @id = "acting-6", @disabled = "disabled" })
                                    <label aria-label="7 stars" class="rating__label" for="acting-7"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 7, new { @class = "rating__input", @id = "acting-7", @disabled = "disabled" })
                                    <label aria-label="8 stars" class="rating__label" for="acting-8"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 8, new { @class = "rating__input", @id = "acting-8", @disabled = "disabled" })
                                    <label aria-label="9 stars" class="rating__label" for="acting-9"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 9, new { @class = "rating__input", @id = "acting-9", @disabled = "disabled" })
                                    <label aria-label="10 stars" class="rating__label" for="acting-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("acting", 10, new { @class = "rating__input", @id = "acting-10", @disabled = "disabled" })
                                </div>
                            </div>
                            <div>
                                <div class="RatingLabel">
                                    Writing
                                </div>

                                <div class="rating-group">
                                    @Html.RadioButton("writing", 0, new { @class = "rating__input", @disabled = "disabled" })
                                    <label aria-label="1 star" class="rating__label" for="writing-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 1, new { @class = "rating__input", @id = "writing-1", @disabled = "disabled" })
                                    <label aria-label="2 stars" class="rating__label" for="writing-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 2, new { @class = "rating__input", @id = "writing-2", @disabled = "disabled" })
                                    <label aria-label="3 stars" class="rating__label" for="writing-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 3, new { @class = "rating__input", @id = "writing-3", @disabled = "disabled" })
                                    <label aria-label="4 stars" class="rating__label" for="writing-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 4, new { @class = "rating__input", @id = "writing-4", @disabled = "disabled" })
                                    <label aria-label="5 stars" class="rating__label" for="writing-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 5, new { @class = "rating__input", @id = "writing-5", @disabled = "disabled" })
                                    <label aria-label="6 stars" class="rating__label" for="writing-6"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 6, new { @class = "rating__input", @id = "writing-6", @disabled = "disabled" })
                                    <label aria-label="7 stars" class="rating__label" for="writing-7"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 7, new { @class = "rating__input", @id = "writing-7", @disabled = "disabled" })
                                    <label aria-label="8 stars" class="rating__label" for="writing-8"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 8, new { @class = "rating__input", @id = "writing-8", @disabled = "disabled" })
                                    <label aria-label="9 stars" class="rating__label" for="writing-9"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 9, new { @class = "rating__input", @id = "writing-9", @disabled = "disabled" })
                                    <label aria-label="10 stars" class="rating__label" for="writing-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("writing", 10, new { @class = "rating__input", @id = "writing-10", @disabled = "disabled" })
                                </div>
                            </div>
                            <div>
                                <div class="RatingLabel">
                                    Cast
                                </div>

                                <div class="rating-group">
                                    @Html.RadioButton("cast", 0, new { @class = "rating__input", @disabled = "disabled" })
                                    <label aria-label="1 star" class="rating__label" for="cast-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 1, new { @class = "rating__input", @id = "cast-1", @disabled = "disabled" })
                                    <label aria-label="2 stars" class="rating__label" for="cast-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 2, new { @class = "rating__input", @id = "cast-2", @disabled = "disabled" })
                                    <label aria-label="3 stars" class="rating__label" for="cast-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 3, new { @class = "rating__input", @id = "cast-3", @disabled = "disabled" })
                                    <label aria-label="4 stars" class="rating__label" for="cast-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 4, new { @class = "rating__input", @id = "cast-4", @disabled = "disabled" })
                                    <label aria-label="5 stars" class="rating__label" for="cast-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 5, new { @class = "rating__input", @id = "cast-5", @disabled = "disabled" })
                                    <label aria-label="6 stars" class="rating__label" for="cast-6"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 6, new { @class = "rating__input", @id = "cast-6", @disabled = "disabled" })
                                    <label aria-label="7 stars" class="rating__label" for="cast-7"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 7, new { @class = "rating__input", @id = "cast-7", @disabled = "disabled" })
                                    <label aria-label="8 stars" class="rating__label" for="cast-8"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 8, new { @class = "rating__input", @id = "cast-8", @disabled = "disabled" })
                                    <label aria-label="9 stars" class="rating__label" for="cast-9"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 9, new { @class = "rating__input", @id = "cast-9", @disabled = "disabled" })
                                    <label aria-label="10 stars" class="rating__label" for="cast-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("cast", 10, new { @class = "rating__input", @id = "cast-10", @disabled = "disabled" })
                                </div>
                            </div>
                            <div>
                                <div class="RatingLabel">
                                    Creativity
                                </div>
                                <div class="rating-group">
                                    @Html.RadioButton("creativity", 0, new { @class = "rating__input", @disabled = "disabled" })
                                    <label aria-label="1 star" class="rating__label" for="creativity-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 1, new { @class = "rating__input", @id = "creativity-1", @disabled = "disabled" })
                                    <label aria-label="2 stars" class="rating__label" for="creativity-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 2, new { @class = "rating__input", @id = "creativity-2", @disabled = "disabled" })
                                    <label aria-label="3 stars" class="rating__label" for="creativity-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 3, new { @class = "rating__input", @id = "creativity-3", @disabled = "disabled" })
                                    <label aria-label="4 stars" class="rating__label" for="creativity-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 4, new { @class = "rating__input", @id = "creativity-4", @disabled = "disabled" })
                                    <label aria-label="5 stars" class="rating__label" for="creativity-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 5, new { @class = "rating__input", @id = "creativity-5", @disabled = "disabled" })
                                    <label aria-label="6 stars" class="rating__label" for="creativity-6"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 6, new { @class = "rating__input", @id = "creativity-6", @disabled = "disabled" })
                                    <label aria-label="7 stars" class="rating__label" for="creativity-7"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 7, new { @class = "rating__input", @id = "creativity-7", @disabled = "disabled" })
                                    <label aria-label="8 stars" class="rating__label" for="creativity-8"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 8, new { @class = "rating__input", @id = "creativity-8", @disabled = "disabled" })
                                    <label aria-label="9 stars" class="rating__label" for="creativity-9"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 9, new { @class = "rating__input", @id = "creativity-9", @disabled = "disabled" })
                                    <label aria-label="10 stars" class="rating__label" for="creativity-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    @Html.RadioButton("creativity", 10, new { @class = "rating__input", @id = "creativity-10", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.Raw(HttpUtility.HtmlDecode(@Model.body))
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type=\"application/ld+json\">
    @Html.Raw(@Model.schema)
</script>
