﻿<div class="container">
    <div class="row">
        <div class="col">
            <h2>Privacy Policy</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            We never sell your personal information including name,emails.
            If you got any thing about that then we are not responsible, 
            because our website is only context based and when the user comes only for view the 
            content not for collect the personal information. Readers of this website never have to worry about privacy.

            We are never sharing any mail address from any one which we collect from subscriber list. 
            We used the emails for send the latest Post when upload on our website not for any other purpose.

            But, We may collect non-personal information about Readers whenever they interact with our Site.
            Non-personal information may include the type of computer, the browser name and technical information 
            about Readers means of connection to our Site, such as the operating system and the ISP(Internet service provider) 
            utilised and other similar information.
        </div>
    </div>
</div>






